.container {
  min-width: 1180px;
  max-width: 1640px;
  display: block;
  margin: 0 auto;
  padding: 0 120px;
}
.sub-nav {
  width: 100%;
  padding-left: 206px;
  height: 54px;
  line-height: 54px;
}
.sub-nav a {
  display: inline-block;
  margin-right: 34px;
  height: 20px;
  line-height: 20px;
}
.sub-nav a span {
  font-weight: 300;
  font-size: 14px;
  color: #333;
}
.sub-nav .current {
  position: relative;
}
.sub-nav .current span {
  position: relative;
  z-index: 2;
  color: #000;
  font-weight: 600;
}
.sub-nav .current:after {
  content: '';
  display: inline-block;
  height: 38.2%;
  width: 100%;
  background-color: #FFE443;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}
.banner-out {
  position: relative;
  overflow: hidden;
  max-height: 400px;
}
.banner-out .swiper-out {
  height: 340px;
}
.banner-out .swiper-out .swiper-inn {
  max-height: 340px;
  height: 100%;
  font-size: 0;
  position: relative;
  z-index: 2;
}
.banner-out .swiper-out .swiper-inn .swiper-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 0;
  position: relative;
  cursor: pointer;
}
.banner-out .swiper-out .swiper-inn .swiper-container .BtnL {
  left: 38px;
  position: absolute;
  height: 60px;
  line-height: 55px;
  width: 60px;
  top: calc(50% - 30px);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding-right: 5px;
  z-index: 10;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.banner-out .swiper-out .swiper-inn .swiper-container .BtnL i {
  font-size: 40px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
  transition: all 0.5s;
}
.banner-out .swiper-out .swiper-inn .swiper-container .BtnL:hover i {
  color: #FFF;
}
.banner-out .swiper-out .swiper-inn .swiper-container .BtnR {
  right: 38px;
  position: absolute;
  height: 60px;
  line-height: 55px;
  width: 60px;
  top: calc(50% - 30px);
  border-radius: 50%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  cursor: pointer;
  text-align: center;
  padding-left: 5px;
  transition: all 0.5s;
}
.banner-out .swiper-out .swiper-inn .swiper-container .BtnR i {
  font-size: 40px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
  transition: all 0.5s;
}
.banner-out .swiper-out .swiper-inn .swiper-container .BtnR:hover i {
  color: #FFF;
}
.banner-out .swiper-out .swiper-inn .swiper-container .swiper-bullets {
  position: absolute;
  z-index: 11;
  margin: 0 auto;
  height: 10px;
  line-height: 10px;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}
.banner-out .swiper-out .swiper-inn .swiper-container .swiper-bullets span {
  margin: 0 6px;
  display: inline-block;
  overflow: hidden;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 8px;
  width: 8px;
  cursor: pointer;
  background-color: #D0D0D0;
  opacity: 1;
  border-radius: 4px;
}
.banner-out .swiper-out .swiper-inn .swiper-container .swiper-bullets .current {
  background-color: #D0D0D0;
}
.banner-out .swiper-out .swiper-inn .swiper-container .swiper-bullets .white {
  background-color: #FFF;
}
.banner-out .swiper-out .swiper-inn .swiper-container .swiper-wrapper {
  height: 100%;
  width: 11200px;
  font-size: 0;
  position: absolute;
  transition: left 0.5s ease-in-out;
}
.banner-out .swiper-out .swiper-inn .swiper-container .swiper-wrapper .swiper-slide {
  height: 100%;
  font-size: 0;
  display: inline-block;
}
.banner-out .swiper-out .swiper-inn .swiper-container .swiper-wrapper .swiper-slide a,
.banner-out .swiper-out .swiper-inn .swiper-container .swiper-wrapper .swiper-slide img {
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.banner-out .swiper-out .blur {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  bottom: -25px;
  display: block;
}
.banner-out .swiper-out .blur svg {
  height: 100%;
  width: 100%;
  font-size: 0;
}
.banner-out .swiper-out .blur svg image {
  display: none;
}
.banner-out .download {
  position: relative;
  height: 60px;
  line-height: 60px;
  color: #FFF;
  font-size: 16px;
  padding: 0 13.5%;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  z-index: 2;
}
.banner-out .download .btns {
  display: block;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
.banner-out .download .btns .split {
  width: 1px;
  height: 28px;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 1px;
  margin: 0 80px;
  display: inline-block;
  vertical-align: middle;
}
.banner-out .download .btns li {
  display: inline-block;
  height: 100%;
  line-height: 60px;
}
.banner-out .download .btns li i {
  height: 100%;
  position: relative;
}
.banner-out .download .btns li i:after {
  content: '';
  position: absolute;
  height: 28px;
  width: 29px;
  left: -39px;
  background-color: #FFF;
  display: inline-block;
  top: calc(50% - 18px);
}
.banner-out .download .btns li a {
  display: block;
  color: #FFF;
  text-align: center;
}
.banner-out .download .btns li a span {
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  width: 450px;
  height: 244px;
  padding: 16px 20px;
  z-index: 100;
  box-shadow: 0 4px 20px 0 rgba(65, 67, 70, 0.08);
}
.model .title {
  padding-bottom: 14px;
  border-bottom: 1px solid #F5F5F5;
  width: 100%;
  position: relative;
  line-height: 21px;
}
.model .title span {
  font-size: 16px;
  font-weight: 600;
}
.model .title i {
  vertical-align: top;
  display: inline-block;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  right: 0;
  top: 0;
  cursor: pointer;
}
.model .content .btns {
  margin-top: 15px;
  padding-bottom: 5px;
  font-size: 0;
}
.model .content .btns .button-container {
  width: 220px;
  height: 146px;
  line-height: 146px;
  text-align: center;
  display: inline-block;
  padding-right: 20px;
}
.model .content .btns .button-container a {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  background-color: #ffdf1f;
  width: 171px;
  height: 40px;
  line-height: 40px;
  border-radius: 23px;
  text-align: center;
  font-size: 14px;
}
.model .content .btns .button-container a i {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
.model .content .btns .button-container a i:after {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-bottom: 3px;
  background-color: #333;
}
.model .content .btns .split {
  display: inline-block;
  vertical-align: middle;
  background-color: #F5F5F5;
  height: 146px;
  width: 1px;
  border-radius: 1px;
  margin-right: 48px;
}
.model .content .btns .img-container {
  display: inline-block;
  vertical-align: middle;
}
.model .content .btns .img-container img {
  width: 110px;
  height: 110px;
}
.model .content .btns .img-container p {
  margin-top: 8px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.song-list .song-list-nav {
  align-items: baseline;
  height: 40px;
  line-height: 40px;
  margin: 70px 0 28px;
  position: relative;
}
.song-list .song-list-nav h3 {
  display: inline-block;
  font-size: 28px;
  margin-right: 40px;
  font-weight: 700;
}
.song-list .song-list-nav .sub-nav {
  display: inline-block;
  padding-left: 0;
  width: auto;
}
.song-list .song-list-nav > a:last-child {
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  color: #999;
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */